[submodule "lib/human-reseq"]
	path = lib/human-reseq
	url = https://github.com/tafujino/human-reseq.git
[submodule "lib/c3"]
	path = lib/c3
	url = https://github.com/c3js/c3.git
[submodule "lib/d3"]
	path = lib/d3
	url = https://github.com/d3/d3.github.com
[submodule "lib/github-markdown-css"]
	path = lib/github-markdown-css
	url = https://github.com/sindresorhus/github-markdown-css.git
