<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@4.0.0/github-markdown.css">
    <style>
      .markdown-body {
	  box-sizing: border-box;
	  min-width: 200px;
	  max-width: 980px;
	  margin: 0 auto;
	  padding: 45px;
      }

      @media (max-width: 767px) {
	  .markdown-body {
	      padding: 15px;
	  }
      }
    </style>
  </head>
  <body>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="chart.js"></script>
    temperatures = [62.7, 59.9, 59.1, 58.8, 58.7, 57, 56.7, 56.8, 56.7, 60.1, 61.1, 61.5, 64.3, 67.1, 64.6, 61.6, 61.1, 59.2, 58.9, 57.2]
    <svg width="960" height="500"></svg>
  </body>
</html>
