<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@4.0.0/github-markdown.css">
    <style>
      .markdown-body {
	  box-sizing: border-box;
	  min-width: 200px;
	  max-width: 980px;
	  margin: 0 auto;
	  padding: 45px;
      }

      @media (max-width: 767px) {
	  .markdown-body {
	      padding: 15px;
	  }
      }
    </style>
  </head>
  <body>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <%= data_embedding_html(coverage_stats.values.first[:mean].csv_text, 'text/csv', 'test') %>
    <script>
      const csv_text = document.getElementById('test').innerHTML;
      const data = d3.csvParse(csv_text)
    </script>
    <svg width="960" height="500"></svg>
  </body>
</html>
